﻿@model MLFlowersImgComp.Models.ImageResult

@{
    ViewData["Title"] = "Index";
}

<h1>Image Result</h1>

<div>
    <hr />
    @if (Model == null)
    {
        <div>No image uploaded yet!</div>
    }

   else
    {
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Image)
    </dt>
    <dd class="col-sm-10">
        <img src="@Url.Content(Model.Image)" alt="Image" style="width:500px; height:500px" />
    </dd>
    <dt class="col-sm-2" style="margin-top:10px" id="RoseD">
        @Html.DisplayNameFor(model => model.Rose) Accuracy
    </dt>
    <dd class="col-sm-10" style="margin-top:10px" id="Rose">
        @Html.DisplayFor(model => model.Rose)
    </dd>
    <dt class="col-sm-2" id="TulipD">
        @Html.DisplayNameFor(model => model.Tulip) Accuracy
    </dt>
    <dd class="col-sm-10" id="Tulip">
        @Html.DisplayFor(model => model.Tulip)
    </dd>
    <dt class="col-sm-2" id="VioletD">
        @Html.DisplayNameFor(model => model.Violet) Accuracy
    </dt>
    <dd class="col-sm-10" id="Violet">
        @Html.DisplayFor(model => model.Violet)
    </dd>
</dl>
    }

</div>

<form asp-controller="Home" asp-action="UploadFile" method="post"
      enctype="multipart/form-data">

    <input type="file" name="file" />
    <button type="submit">Upload File</button>
</form>

<script>
    function f_color() {
        if (parseInt(document.getElementById("Tulip").innerText) > 50) {
            document.getElementById("Tulip").style.background = "greenyellow";
            document.getElementById("TulipD").style.background = "greenyellow";
        }
        if (parseInt(document.getElementById("Rose").innerText) > 50) {
            document.getElementById("Rose").style.background = "greenyellow";
            document.getElementById("RoseD").style.background = "greenyellow";
        }
        if (parseInt(document.getElementById("Violet").innerText) > 50) {
            document.getElementById("Violet").style.background = "greenyellow";
            document.getElementById("VioletD").style.background = "greenyellow";
        }
    }    
    f_color();
</script>